body{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    overflow: scroll;
}

a{
    color: black;
    text-decoration: none;
}

.nav{
    text-align: center;
    background-color: antiquewhite;
    padding: 2%;
     
}

.navelement{
    padding: 10px;
    margin: 10px;
    color: black;
    text-decoration: none;
}

.navelement:hover{
    border-bottom: 2px solid black;
}

.left{
     margin-left: 73%;
}

.left:hover{
    padding: 5px;
    border-bottom: 2px solid black;
}

.men{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: auto;
}

div a img{
    width: 200x;
    height: 200px;
    margin: 20px;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
  
}

div a img:hover{
    transform: scale(1.1)
}

h2{
    margin-top: 50px;
}

div a p {
    font-size: 13px; 
}
 



/* 
.container{
    display: flex;
    flex-flow: right;
    justify-content: space-around;
}

div img  {
     border-radius: 20px;
    /*  width: 100%;
     height: 90%;*/
    
/*
.box{
    margin: 10px;
    border:  rgb(255, 255, 255) 1px solid;
    min-height: 40%;
    height: 40%;
    width: 20%;
    box-sizing: border-box;
}

.see  {
    border: slateblue 2px solid;
    border-radius: 20px;
    padding: 5px;
    width: 100px;
    justify-content: center;
    margin:auto ;
}
 */
footer{
    background-color: whitesmoke;
}

.footer-l{
    text-align: left;
}

/*
this css for  signup page */

.center{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.bg{     
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg>img{
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.sign{
    height: auto;
    border: 2px  antiquewhite solid;
    border-radius: 30px;
    margin: auto;
    background-color: antiquewhite;  
    box-shadow: 10px 10px 10px black ;
}
.f{
    width: 153px;
    height: 20px;
 }

button{
    height: 10%;
    width: 20%;
}

 css for login page 

/* .log{
    height: 60vh;
    border: 2px  white solid;
    border-radius: 30px;
    margin: auto;
    background-color: antiquewhite;  
    box-shadow: 10px 10px 10px black ;
} */

.login{
    background-color: red;
}
 
.submit{
    background-color: bisque;
} 